<%= render_document_heading(:h2).html_safe %>
<div id="sidebar-right">
 <%= render_document_sidebar_partial %>
</div>
 <%= render_document_partial @document, :show %>
 <div class="cpd-thumb">
 <%= render_compound_pageturner @document %>
 </div>

 
 
