<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <%= link_to application_name, link_to_organization, class: "navbar-brand" %>
    </div>

    <div class="prim-nav">
      <div class="right-nav">
        <ul>
          <li><a href="/">Digital Collections Home</a></li>
          <li><a href="/about">About Temple Digital Collections</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <%= render_search_bar  %>
  </div>
</div>
