<h1>About Temple University Digital Collections</h1>

<h2>Our Digital Collections</h2>

<p>Our Digital Collections site offers free worldwide access to many of the unique primary historical and cultural resources held by the Temple University Libraries and to selected scholarly works and other publications produced at Temple. Our digitization projects are produced via the collaboration of various library departments, including Digital Library Initiatives, the Special Collections Research Center, Cataloging and Metadata Services, Acquisitions and Collection Development, Library Administration and the Charles L. Blockson Afro-American Collection, among others.</p>

 


<h2>Digitization Suggestions</h2>

<p>We are actively digitizing additional materials; to suggest materials you believe should be digitized, please contact us at: <a href="mailto:diglib@temple.edu">diglib@temple.edu</a>.</p>

 


<h2>Restricted-Access Collections</h2>

<p>In specific, limited cases, we must restrict some collections to current Temple University students, staff, and faculty due to copyright restrictions.</p>

<p>These collections include:<p>
<ul>
<li>Temple University Press E-Books</li>
</ul>
 


<h2>Copyright Permissions</h2>

<p>Temple University Libraries is committed to providing broad access to its collections for teaching, learning, and research. The material on this site is provided for (1) private research use, (2) reproduction for private purposes, or (3) student or instructor use in a classroom or classroom assignment. These uses do not require prior permission as long as a proper citation is given. By downloading, printing, or otherwise using text and images from this website, you agree to comply with our terms and conditions.</p>

 

<p>Many materials in the Temple University Libraries’ collections are protected by copyright and may not be republished without the permission of the rights holder. The Copyright Law of the United States (Title 17, US Code) governs the making of reproductions of copyrighted material. The user of materials from this database is responsible for determining the applicability of those conditions. Copyright compliance is the responsibility of the user.</p>

 

<p>Publication of any of this material requires permission from Temple University Libraries' Special Collections Research Center and/or the copyright owner. Requests for permission to use these materials should be submitted online to <a href="mailto:scrc@temple.edu">scrc@temple.edu</a> . If you are uncertain whether you need permission to use these materials, please contact us at <a href="mailto:scrc@temple.edu">scrc@temple.edu</a>.</p>

 

<p>Whenever possible, Temple University Libraries provides factual information about content, copyright owners, and related matters. If you have more information about an item you've seen on our website, or if you are the copyright owner and believe our website has not properly attributed your work or has used it without permission, please contact <a href="mailto:scrc@temple.edu">scrc@temple.edu</a> . Please include the item identification number when contacting us.</p>

