<h1>M. Rosenbaum and Co.</h1>
<p>
  <b>Rosenbaum Bank History</b>
</p>
<p>
  M. Rosenbaum and Co. was a private banking firm established in 1885 by Morris Rosenbaum, an Austro-Hungarian immigrant, and his wife, Hannah. Rosenbaum and Co. was located at 603 South 3rd Street and provided foreign exchange services and sold steamship and railroad tickets. In 1930, Morris retired from the private bank, turning operations over to Alexander S. Berkowitz. On December 27, 1934, M. Rosenbaum and Co. was taken over by the State Banking Department after an examination revealed that the bank failed to comply with certain conditions set by the state. At the time of its closing, the bank operated under the partnership of Alexander and Eugene Berkowitz, and A. Murray Spitzer.
</p>
<br>
<p>
  To learn more about our collection of steamship ticket purchase ledgers and the history of immigrant banking in America, view the <a href="http://digital.library.temple.edu/cdm/steamshipagents/collection/p16002coll16/index.php">Steamship agents</a> page.
</p>
<br>
<p>
  <b>Rosenbaum ledgers</b>
</p>
<p>
  There are 24 Rosenbaum ledgers, each with a volume number and corresponding inclusive date range of purchase entries. Volumes 1 through 21 each contain a handwritten alphabetical index of passenger names corresponding to specific entries that can be browsed along with the digitized volumes. A separate, external index of both ticket purchaser and passenger names located in Rosenbaum volumes 1 through 22 is also available. See the <a href="/pages/searching_the_ledgers.html">Searching the ledgers</a> page for more information about the external index.
</p>
<br>
<p>
  Volume 1, May, 1890-April, 1893
</p>
<p>
  Volume 2, April-December, 1893
</p>
<p>
  Volume 3, January-December, 1894
</p>
<p>
  Volume 4, January-December, 1895
</p>
<p>
  Volume 5, January-December, 1896
</p>
<p>
  Volume 6, January-December, 1897
</p>
<p>
  Volume 7, January-December, 1898
</p>
<p>
  Volume 8, January-December, 1899
</p>
<p>
  Volume 9, August-December, 1900
</p>
<p>
  Volume 10, January-August, 1900
</p>
<p>
  Volume 11, January-October, 1901
</p>
<p>
  Volume 12, January-October, 1902
</p>
<p>
  Volume 13, January-November, 1903
</p>
<p>
  Volume 14, January-September, 1904
</p>
<p>
  Volume 15, January-December, 1905
</p>
<p>
  Volume 16, September-December, 1904, January, 1906
</p>
<p>
  Volume 17, January-September, 1906
</p>
<p>
  Volume 18, September, 1906-December, 1907
</p>
<p>
  Volume 19, December, 1907, January, 1908-December, 1909
</p>
<p>
  Volume 20, January, 1910-December, 1911
</p>
<p>
  Volume 21, January, 1912-December, 1913
</p>
<p>
  Volume 22, January, 1914-May, 1924
</p>
<p>
  Volume 23, June, 1924-November, 1934
</p>
<p>
  Volume 24, October-December, 1901, November-December, 1902, November-December, 1903
</p>
<br>
<p>
  <a href="http://digital.library.temple.edu/cdm/search/searchterm/M.%20Rosenbaum%20and%20Co./mode/exact/order/title">Browse all Rosenbaum ledgers</a>
</p>
<br>
<p>
  For tips on how to search the digital collection and information about accessing the external index for Rosenbaum volumes 1 through 22, view the <a href="/pages/searching_the_ledgers.html">Searching the ledgers</a> page.
</p>
<br>
<p>
  <b>Description of entries</b>
</p>
<p>
  The following fields of information are typically included in a Rosenbaum ledger entry.
</p>
<br>
<p>
  Date [account opened]
</p>
<p>
  Order number
</p>
<p>
  Ticket number
</p>
<p>
  S.S. Line
</p>
<p>
  Passenger name(s) and age(s)
</p>
<p>
  Passenger address
</p>
<p>
  Booked from [port of departure]
</p>
<p>
  Booked to [port of arrival]
</p>
<p>
  Purchaser name
</p>
<p>
  Purchaser address
</p>
<p>
  Rate of ticket
</p>
<p>
  Remarks
</p>
