<h1>M.L. Blitzstein and Co.</h1>
<%= image_tag("Blitzstein_Logo_Graphic_final_resized.jpg") %>
<p>
  <b>Blitzstein Bank History</b>
</p>
<p>
  In 1889, shortly after Anna (Hannah) and Marcus (Moishe) Blitzstein arrived in Philadelphia from Odessa, they opened a private bank on the northeast corner of 4th and Lombard Streets known as M.L. Blitzstein and Co. The bank offered a range of financial services including saving and checking accounts, international money transfers, and the arrangement and sale of steamship tickets. In 1919, as the sale of steamship tickets slowed, the Blitzsteins' constructed a new building on the opposite northwest corner of 4th and Lombard Streets. After Anna's passing, her son Samuel M. Blitzstein and Constantine B. Voynow took over the operations. In the aftermath of the closure of another Philadelphia bank, Bankers Trust Company, panicked depositors began making large numbers of withdraws from M.L. Blitzstein and Co. leading to its closure on December 23, 1930. At the time of the bank's closure, it had an estimated 6,000 depositors.
</p>
<br>
<p>
  To learn more about our collection of steamship ticket purchase ledgers and the history of immigrant banking in America, view the <a href="/pages/philadelphias_steamship_agents.html">Steamship agents page</a>.
</p>
<br>
<p>
  <b>Blitzstein ledgers</b>
</p>
<p>
  There are 12 ledgers, each with a volume number and corresponding inclusive date range of purchase entries. Volume 1 was not included in the collection of ledgers donated to Temple University Libraries.
</p>
<br>
<p>
  Volume 2, June 1899-April 1902
</p>
<p>
  Volume 3, April 1902-December 1903
</p>
<p>
  Volume 4, December 1903-November 1904
</p>
<p>
  Volume 5, November 1904-January 1906
</p>
<p>
  Volume 6, January-August 1906
</p>
<p>
  Volume 7, August 1906-October 1907
</p>
<p>
  Volume 8, October 1907-December 1909
</p>
<p>
  Volume 9, December 1909-January 1911
</p>
<p>
  Volume 10, June 1911-January 1913
</p>
<p>
  Volume 11, January 1913-February 1914
</p>
<p>
  Volume 12, February 1914-December 1921
</p>
<p>
  Volume 13, December 1921-December 1930
</p>
<br>
<p>
  <a href="http://cdm16002.contentdm.oclc.org/cdm/search/collection/p16002coll16/searchterm/blitzstein%20/order/nosort">Browse all Blitzstein ledgers</a>
</p>
<br>
<p>
  For tips on how to search the digital collection, view the Searching the ledgers page.
</p>
<br>
<p>
  <b>Description of entries</b>
</p>
<p>
  The following fields of information are typically included in a Blitzstein ledger entry.
</p>
<br>
<p>
  Date [account opened]
</p>
<p>
  Ticket number
</p>
<p>
  Passenger name(s) and age(s)
</p>
<p>
  Steamer
</p>
<p>
  Booked from [port of departure]
</p>
<p>
  Via
</p>
<p>
  Booked to [port of arrival]
</p>
<p>
  S.S. Line
</p>
<p>
  Purchaser name
</p>
<p>
  Purchaser address
</p>
<p>
  Rate of ticket
</p>
<p>
  Remarks
</p>
