<h1>Pennsylvania Company for Banking and Trusts</h1>
<p>
  <b>History of Pennsylvania Company for Banking and Trusts</b>
</p>
<p>
  The Pennsylvania Company for Banking and Trusts can trace its origins to a railroad and steamship ticket agency owned and operated by Charles Lipshutz and Maurice L. Wurzel known as Lipshutz & Wurzel. On January 1, 1915, Lipshutz & Wurzel converted to the banking business, became a member of the Federal Reserve System, and was renamed People’s Bank. In 1923, they merged with the People’s Trust Company. Shortly thereafter, in 1927, People’s Bank and Trust merged with the Colonial Trust Company and took its name. In 1930, the Colonial Trust Company merged with The Pennsylvania Company for Insurance on Lives and Granting Annuities, which became The Pennsylvania Company for Banking and Trusts by 1947.
</p>
<br>
<p>
  To learn more about our collection of steamship ticket purchase ledgers and the history of immigrant banking in America, view the <a href="/pages/philadelphias_steamship_agents.html">Steamship agents</a> page.
</p>
<br>
<p>
  <b>Pennsylvania Company ledgers</b>
</p>
<p>
  There are seven ledgers, each with an inclusive date range of purchase entries and range of ticket order numbers. Most of the ledgers were filled out at the bank’s 7th Street and Girard Avenue branch—an office location that remained throughout the bank’s many mergers. A separate, external index of both ticket purchaser and passenger names is also available.
</p>
<br>
<p>
  Volume 1923-1924, order #17793-18361
</p>
<p>
  Volume 1924-1926, order #18362-18941
</p>
<p>
  Volume 1927-1928, order #18942-19363
</p>
<p>
  Volume 1929-1931, order #19364-19863
</p>
<p>
  Volume 1932-1936, order #19864-20361
</p>
<p>
  Volume 1937-1938, order #20362-20578
</p>
<p>
  Volume 1939-1948, order #20579-20822
</p>
<br>
<p>
  <a href="http://digital.library.temple.edu/cdm/search/collection/p16002coll16/searchterm/Pennsylvania%20Company/field/all/mode/all/conn/and/order/title">Browse all Pennsylvania Company ledgers</a>.
</p>
<br>
<p>
  For tips on how to search the digital collection and information about accessing the external index view the <a href="/pages/searching_the_ledgers.html">Searching the ledgers page</a>.
</p>
<br>
<p>
  <b>Description of entries</b>
</p>
<p>
  The following fields of information are typically included in Pennsylvania Company for Banking and Trusts ledger entry.
</p>
<br>
<p>
  Date
</p>
<p>
  Order number
</p>
<p>
  Purchaser name
</p>
<p>
  Purchaser address
</p>
<p>
  Passenger (s) name and age
</p>
<p>
  Passenger address
</p>
<p>
  Relationship to purchaser
</p>
<p>
  Affidavits
</p>
<p>
  Booked from [port of departure]
</p>
<p>
  Booked to [port of arrival]
</p>
<p>
  S.S. Line
</p>
<p>
  Ticket number
</p>
<p>
  Rate
</p>
<p>
  Terms
</p>
<p>
  Remarks
</p>
