<h1>Rosenbluth Brothers</h1>
<p>
  <b>History of Rosenbluth Brothers</b>
</p>
<p>
  The company was founded in 1892 by Marcus Rosenbluth and initially sold passage between New York and Philadelphia before expanding to include corporate and leisure travel arrangements.
</p>
<br>
<p>
  To learn more about our collection of steamship ticket purchase ledgers and the history of immigrant banking in America, view the <a href="http://digital.library.temple.edu/cdm/steamshipagents/collection/p16002coll16/index.php">Steamship agents</a> page.
</p>
<br>
<p>
  <b>Rosenbluth ledger</b>
</p>
<p>
  There is one ledger containing ticket purchases made at Rosenbluth Brothers between 1907 and 1910. The ledger contains a handwritten alphabetical index of passenger names corresponding to specific entries within the ledger.
</p>
<br>
<p>
  <a href="http://digital.library.temple.edu/cdm/search/collection/p16002coll16/searchterm/Rosenbluth/order/nosort">Browse the Rosenbluth ledger</a>
</p>
<br>
<p>
  For tips on how to search the digital collection and information about accessing the external index for Rosenbaum volumes 1 through 22, view the <a href="http://digital.library.temple.edu/cdm/searchingledgers/collection/p16002coll16/index.php/collection/p16002coll16">Searching the ledgers page</a>.
</p>
<br>
<p>
  <b>Description of entries</b>
</p>
<p>
  The following fields of information are typically included in a Rosenbaum ledger entry.
</p>
<br>
<p>
  Date [account opened]
</p>
<p>
  Order number
</p>
<p>
  Purchaser name
</p>
<p>
  Purchaser residence
</p>
<p>
  Passenger (s) name and age
</p>
<p>
  Passenger address
</p>
<p>
  Booked from [port of departure]
</p>
<p>
  Booked to [port of arrival]
</p>
<p>
  S.S. Line
</p>
<p>
  Ticket number
</p>
<p>
  Rate
</p>
<p>
  Terms
</p>
<p>
  Remarks
</p>
