<h1>Searching the ledgers</h1>
<p>
  The simple search box is limited to searching by organization or date. The various fields of information contained within the ledgers such as passenger name, purchaser, address, steamer, etc. are not keyword searchable.
</p>
<br>
<p>
  An external index is available for the bulk of the ledgers. For ease of access, searching the external index prior to accessing the digitized steamship ticket purchase ledgers is recommended. Alternatively, browsing the digitized ledgers by date is the best method for locating an entry. For some ledgers, a handwritten name index provides another alternative method for locating entries. Inclusion of a handwritten index is noted on the individual bank pages and in the notes field for specific volumes.
</p>
<br>
<p>
  <b>External index to ledgers</b>
</p>
<p>
  Forty-five of the fifty ledgers were indexed through a collaborative project between the Philadelphia Jewish Archives Center and the Jewish Genealogical Society of Greater Philadelphia. These indexes are made available via searchable databases through the following genealogical websites:
</p>
<br>
<p>
  <a href="http://www.jewishgen.org">JewishGen</a>
</p>
<p>
  Offers free registration and simple surname searches across the various databases, including those for the steamship ticket purchase ledgers. Value-added services including access to advanced database search features are available only to annual contributors of $100 to the JewishGen General Fund. The indexes are accessible via JewishGen's USA Database.
</p>
<br>
<p>
  <a href="http://www.ancestry.com">Ancestry</a>
</p>
<p>
  Access to the indexes requires a subscription membership starting at $19.99 per month. The index is accessible via Ancestry's data collection "Philadelphia Bank Immigrant Passage Records, 1890-1949."
</p>
<br>
<p>
  The following is a list of ledger fields in the external index for each steamship agent.
</p>
<p>
  M.L. Blitzstein and Co.: passenger name, volume or book number, and ledger page number
</p>
<p>
  M. Rosenbaum and Co.: passenger name, purchaser name, and date
</p>
<p>
  Peoples Bank and Trust Company: passenger name, purchaser name, order number, and date
</p>
<p>
  Rosenbluth Brothers: no index available
</p>
<br>
<p>
  <b>Ledger entries</b>
</p>
<p>
  The format and types of information included in the ledger entries are unique to each steamship agent. For details about the ledgers and the specific fields of information contained within, view the individual agency pages. The effort to digitize the steamships ticket purchase ledgers is an ongoing project. The collection will be updated as more digitized ledgers become available.
</p>
<br>
<p>
  <a href="http://cdm16002.contentdm.oclc.org/cdm/blitzsteinbank/collection/p16002coll16/index.php">M.L. Blitzstein and Co.</a>
</p>
<p>
  <a href="http://cdm16002.contentdm.oclc.org/cdm/rosenbaum/collection/p16002coll16/index.php">M. Rosenbaum and Co.</a>
</p>
<p>
  <a href="http://cdm16002.contentdm.oclc.org/cdm/rosenbluth/collection/p16002coll16/index.php">Rosenbluth Brothers</a>
</p>
<p>
  <a href="http://cdm16002.contentdm.oclc.org/cdm/pennsylvaniacompany/collection/p16002coll16/index.php">Pennsylvania Company for Banking and Trusts</a>
</p>
