<h1>About the Stereotypical Images Teaching Collection</h1>
<p style="margin-top: 10px;" class="cdm_style">
This is a teaching image collection designed to provide resources for faculty and students studying historical representations of various cultural and ethnic groups.
 The collection provides examples of stereotyping based on race, religion, gender, and other characteristics that have shaped and continue to shape American society,
 and some images may be offensive to some viewers. This collection is in the process of being created and eventually a large number of groups will be represented.
</p>
<br>
<p>
This project results from several faculty members in Art and African American Studies requests for materials featuring African American stereotypes
from the Blockson Collection as teaching resources in multiple classes.  More generally, we are regularly asked to provide materials featuring
stereotypical representations of various groups (e.g., women). As such, we decided to start digitizing these materials and make them accessible
online through this collection for teaching purposes.
</p>
<br>
<p>
Below is a list of courses that have utilized and will utilize this teaching collection:
<br><br>
African American Studies:
</p><ul>
<li><a href="https://prd-wlssb.temple.edu/prod8/bwckctlg.p_disp_course_detail?cat_term_in=201303&amp;subj_code_in=AAS&amp;crse_numb_in=0829">
AAS 0829 - The History and Significance of Race in America</a>
</li>
<li><a href="https://prd-wlssb.temple.edu/prod8/bwckctlg.p_disp_course_detail?cat_term_in=201303&amp;subj_code_in=AAS&amp;crse_numb_in=0834">
AAS 0834 - Representing Race</a>
</li>
<li><a href="https://prd-wlssb.temple.edu/prod8/bwckctlg.p_disp_course_detail?cat_term_in=201436&amp;subj_code_in=AAS&amp;crse_numb_in=1152">
AAS 1152 - Introduction to African Aesthetics</a>
</li>
<li><a href="https://prd-wlssb.temple.edu/prod8/bwckctlg.p_disp_course_detail?cat_term_in=201303&amp;subj_code_in=AAS&amp;crse_numb_in=1253">
AAS 1253 - Blacks in World History</a>
</li>
<li><a href="https://prd-wlssb.temple.edu/prod8/bwckctlg.p_disp_course_detail?cat_term_in=201303&amp;subj_code_in=AAS&amp;crse_numb_in=1296">
AAS 1296 - Introduction to African American Studies</a>
</li>
<li><a href="https://prd-wlssb.temple.edu/prod8/bwckctlg.p_disp_course_detail?cat_term_in=201303&amp;subj_code_in=AAS&amp;crse_numb_in=2134">
AAS 2134 - The Literature of American Slavery</a>
</li>
<li><a href="https://prd-wlssb.temple.edu/prod8/bwckctlg.p_disp_course_detail?cat_term_in=201303&amp;subj_code_in=AAS&amp;crse_numb_in=2151">
AAS 2151 - History of Blacks in Cinema</a>
</li>
<li><a href="https://prd-wlssb.temple.edu/prod8/bwckctlg.p_disp_course_detail?cat_term_in=201303&amp;subj_code_in=AAS&amp;crse_numb_in=2208">
AAS 2208 - Black Folklore: African and African-American</a>
</li>
<li><a href="https://prd-wlssb.temple.edu/prod8/bwckctlg.p_disp_course_detail?cat_term_in=201303&amp;subj_code_in=AAS&amp;crse_numb_in=2248">
AAS 2248 - Public Policy and the Black Community</a>
</li>
</ul>
Intellectual Heritage Program - College of Liberal Arts:
<ul>
<li><a href="http://www.temple.edu/ih/Courses.html">General Education - Mosaic I and II</a>
</li>
</ul>
Sociology:
<ul>
<li><a href="https://prd-wlssb.temple.edu/prod8/bwckctlg.p_disp_course_detail?cat_term_in=201436&amp;subj_code_in=SOC&amp;crse_numb_in=0835">
SOC 0835 - Ethnicity and the Immigrant Experience in the U.S.</a>
</li>
</ul>
<br>
Faculty Statements:
<br><br>
"The Blockson Collection's Stereotypical Image Teaching Collection is a rare pedagogical tool for teachers and professors.
It reminds us of an age in which the presence of Africans in the United States was ridiculed and abused in literature, photographs, and
media; yet the collection's profound attachment to American cultural expressions tells us the great sweep of the anti-African presence in
America. The fact that the Blockson has made these images available is a social and intellectual victory for history."
<br><br>
Molefi Kete Asante, Ph.D.,  Professor, Temple University African American Studies Department,
and author, The African American People: A Global History
<script>
  // Change the search placeholder so it searches within this collection
  $(document).ready(function(){ $("input#q.search_q.q.form-control").attr("placeholder", "<%= t('blacklight.search.placeholder.digital_collection') %>" ) });
</script>
