# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a2f9a91095e53ca2e564e247aa8651dc2757c4bbd6304f19aaf3d40db782a5cb1b56179c5afaf334ec422b36244c608450bb6b41d77b1f2c14d38e0db502b303

test:
  secret_key_base: 794591d20e849f9583d4cd1b2fb459bec0f3ad059a81d5236d94a000351f69d543ba6ed472b7c34d0d024a7895aa1cd8b6ea7792cfd4ad56b5ae5f27377fb621

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
