# This file should contain all the record creation needed to seed the database with its default values.
# The data can then be loaded with the rake db:seed (or created alongside the db with db:setup).
#
# Examples:
#
#   cities = City.create([{ name: 'Chicago' }, { name: 'Copenhagen' }])
#   Mayor.create(name: 'Emanuel', city: cities.first)
#
# Digital Colleciton Seed
#   collection_alias is usually in the form of p12345coll1
DigitalCollection.delete_all;

collections = [
  {
  collection_alias: 'featrcoll1',
  name:             'Featured Example Collection',
  thumbnail_url:    'http://digital.library.temple.edu/ui/custom/default/collection/default/resources/custompages/home/featured_thumbnail.jpg',
  image_url:        'http://digital.library.temple.edu/ui/custom/default/collection/example/images/featured_landingpage.jpg',
  priority:         1,
  is_private:       false,
  allowed_ip_addresses: "",
  featured:         "Yes",
  custom_url:       '',
  is_custom_landing_page: false,
  is_format_based:  false,
  proxy_url_prefix: '',
  short_description: '',
  description:      <<-END.gsub(/^ {6}/, '')
      <p><span>This is a sample featured collection</span></p>
    END
  },
  {
  collection_alias: 'reglrcoll1',
  name:             'Example Collection',
  thumbnail_url:    'http://digital.library.temple.edu/ui/custom/default/collection/default/resources/custompages/home/thumbnail.jpg',
  image_url:        'http://digital.library.temple.edu/ui/custom/default/collection/example/images/landingpage.jpg',
  priority:         2,
  is_private:       false,
  allowed_ip_addresses: "",
  featured:         "No",
  custom_url:       '',
  is_custom_landing_page: false,
  is_format_based:  false,
  proxy_url_prefix: '',
  short_description: '',
  description:      <<-END.gsub(/^ {6}/, '')
      <p><span>This is a sample regular collection</span></p>
    END
  }
]

collections.each do |collection|
  DigitalCollection.create(collection)
end

User.delete_all;

users = [
  {
    email: "user@example.com",
    password: "tulcdmUser",
    password_confirmation: "tulcdmUser",
  },
  {
    email: "archivist1@example.com",
    password: "tulcdmArchivist",
    password_confirmation: "tulcdmArchivist",
  },
  {
    email: "admin@example.com",
    password: "tulcdmAdmin",
    password_confirmation: "tulcdmAdmin",
  }
]

users.each do |user|
  User.create(user)
end
