
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <% # main container for facets/limits menu -%>
<% if has_facet_values? %>

<div class="narrow-by-facets-open">
<div id="facets" class="facets sidenav">

<div class="facets-collapse">
  <h4>Narrow results by:</h4>
  <%= render_facet_groupings("general") %>
</div>
</div>

</div>

<div id="facets" class="facets sidenav">
  <div class="facets-collapse">
  <%= render_facet_groupings("geo")%>
</div>
</div>



<% end %>
