<h1><%= t('tul_cdm.homepage.welcome') %> <%= t('tul_cdm.general.application_name') %></h1>
<p><%= t('tul_cdm.homepage.intro_text') %></p>
<div class="featured">
	<%= render_featured %>
</div>
<ul>
<li><a href="digital_collections">Browse by Collection</a></li>
<li><a href="catalog/facet/subject_sim">Browse by Subject</a></li>
</ul>
