<h1><%= t('tul_cdm.homepage.welcome') %> <%= t('tul_cdm.general.application_name') %></h1>
<p><%= t('tul_cdm.homepage.intro_text') %></p>
<ul>
<li><a href="catalog/facet/digital_collection_sim?facet.sort=index">Browse by Collection</a></li>
<li><a href="catalog/facet/subject_sim">Browse by Subject</a></li>
</ul>