<h4><%= t('blacklight.welcome') %></h4>
<p>&nbsp;</p>
<p>Our Digital Collections site offers free worldwide access to the unique primary historical and cultural resources held by the Temple University Libraries and to selected scholarly works and other publications produced at Temple. We are actively digitizing additional materials; to suggest materials you believe should be digitized, please contact us at: diglib@temple.edu.</p>
<ul>
<li><a href="catalog/facet/digital_collection_sim?facet.sort=index">Browse by Collection</a></li>
<li><a href="catalog/facet/subject_sim">Browse by Subject</a></li>
<li><a href="http://localhost:3000">Link home</a></li> 
</ul>
<% #Creates a bit space in the page -%>

