      <div class="sort-buttons pull-left">    
        <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
      </div>

      <div class="submit-buttons pull-right">
        <%= link_to t('tul_cdm.multifacets.form.start_over'), 'catalog', :class =>"btn btn-default advanced-search-start-over" %>

        <%= submit_tag t('tul_cdm.multifacets.form.submit_btn'), :class=>'btn btn-primary advanced-search-submit', :id => "advanced-search-submit" %>
      </div>
