<span>_multiselect_facets</span>
<% config = CatalogController.configure_blacklight %>
<% solr_field= config[:advanced_search][:form_solr_parameters]["facet.field"].first %>
<% display_facet = multiple_facets(solr_field) %>
<div class="panel panel-default blacklight-digital_collection_sim ">
  <div class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#facet-multi-digital_collection_sim" aria-expanded="false">
    <h5 class="panel-title">
      <a data-no-turbolink="true" href="#"><%= t('tul_cdm.multifacets.title') %></a>
    </h5>
  </div>
  <div id="facet-multi-digital_collection_sim" class="panel-collapse facet-content collapse" aria-expanded="false" style="height: 0px;">
    <div class="panel-body">
      <ul class="facet-values list-unstyled blacklight-advanced-facet-select">
        <% display_facet.items.each do |item| -%>
        <li>
            <span class="facet-checkbox">
              <%= check_box_tag "f_inclusive[#{solr_field}][]", item.value.to_sym, facet_value_checked?(solr_field, item.value), :id =>  "f_inclusive_#{solr_field}_#{item.value.parameterize}", :form => "basic-search" %>
            </span>

            <span class="label-and-count">
                <%= label_tag "f_inclusive_#{solr_field}_#{item.value.parameterize}"  do %>
                    <%= render_multiselect_facet_value(solr_field, item, :suppress_link => true) %>  
                <% end %>
            <span>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
