  
<%# unless @document.more_like_this.empty? %>
<div class="well" id="sidebar-mlt">
  <ul class="nav nav-list">
    <%= render_about_this_collection(@document) %>
  </ul>
</div><!--/well -->
<%# end %>
