@charset "UTF-8";
/* CSS Document */

.BRpageimage {
  background-color: #fff;
}

#BRtoolbar {
   
    background-color: #fff;
 }
 
 
 div#BRnav {
       background-color: #fff;

}


.BRnavCntl {
    background-color: #fff;
    
}

#BRtoolbar a {
    text-decoration: none;
    color: #000;
    margin-left: 15px;
}

div.overview_link {
    margin-top: 14px;


}

a.logo {
    
    width: 185px;
   
}


div#pagenum span {
    color: #333;
    font-style: normal;
}

div#pagenum {
   
    color: #999;
    
    background-color: #fff;
    font-family:   "Arial", sans-serif;
}
 
div#BRnavline {
     height: 1px;
     background-color: #999;
  }
  
  
  .BRnavend {
     background-color: #999;
}
