/*
 * Custom overrides for BookReader Demo.
 */

/* Hide print and embed functionality */
#BRtoolbar .embed, .print {
    display: none;
}

#BookReader {
  position: relative;
}

#BRtoolbar {
  position: relative;
}

#BRcontainer {
  position: relative;
  height: 640px;
}

#BookReader #BRnav {
  position: relative;
}

#BRnav #BRpage {
  width: 300px;
}

