/*
 * Custom overrides for BookReader Demo.
 */

/* Hide print and embed functionality */
#BRtoolbar .embed, .print {
    display: none;
}

#BookReader {
  position: relative;
}

#BRtoolbar {
  position: relative;
}

#BookReader #BRnav {
  position: relative;
}

#BRnav #BRpage {
  width: 300px;
}

#BRcontainer {
    position: relative;
	height: 640px;
}

#BRtoolbar, div#BRnav {
    background-color: #e2dcc5;    
}

/*
* 
  Hiding share, info, and show/hide buttons that 
  ship with Bookreader -- comment out to add them
*
*/
.BRicon.info, .BRicon.share, #BRnavCntlBtm.BRdn {
    display: none;
}
