/******
*
* Custom overrides for BookReader Demo
*
******/

/* Hide print and embed functionality */
#BRtoolbar .embed, .print {
    display: none;
}

#BookReader {
  position: relative;
}

#BRtoolbar {
  position: relative;
}

#BookReader #BRnav {
  position: relative;
}

#BRnavpos {
  width: 620px;
}

#BRnav #BRpage {
  width: 375px;
}

#BRcontainer {
  position: relative;
	height: 640px;
}

#BRtoolbar, div#BRnav {
    background-color: #e2dcc5;    
}

/*
 * 
  Hiding print, embed, share, info, and 
  show/hide buttons that ship with 
  Bookreader -- comment out to add them
 *
 */

.BRicon.embed, .BRicon.print, .BRicon.info, .BRicon.share, #BRnavCntlBtm.BRdn {
    display: none;
}

#BookReader a.logo {
    background: transparent url(logo.png) no-repeat 0 0;
    background-size: 200px;
}
