.loading{
  background: url('/assets/ajax-load.gif') no-repeat scroll center bottom transparent;
  text-align: center;
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
  background-size: 16px 16px;
  display: inline-block;
}
