@import "base/colors.scss";
@import "base/mixins.scss";



/******
*
* Digital Collections Overall Styles
*
******/

#digital_collection-index h1, #digital_collection-show h1{
  font-size: 22px;
  font-weight: bold;
}


#digital_collection-index h2, #digital_collection-show h2{
  font-size: 18px;
  font-weight: bold;
}


/******
*
* Digital Collection Index Page
*
******/

#digital_collection-index{
  margin-left: auto;
  margin-right: auto;
  width:1200px;
}

#digital_collection-index .collection-thumbnail {
  display: block;
  text-align: center;
  width: 200px;
  padding-bottom: 20px;
}

#digital_collection-index .collection-item {
  padding: 5px 0px;
}

#digital_collection-index .collection-internals{
	width: 200px;
	background: none repeat scroll 0% 0% $temple-frost;
	height: 40px;
	font-size: 10px;
	color: $temple-light-blue;
	@include rounded-corners-bottom;
}

#digital_collection-index .collection-name {
  padding: 3px 0px;
  display: block;
}

#digital_collection-index .admin {
  display: none;
}

.digital_collection-list{
  margin-left: auto;
  margin-right: auto;
  width:1000px;
}

.collection-default-thumb{
	font-size: 100px;
  background: $temple-frost;
  padding-left:5px;
  width:120px;
  border: 1px solid $temple-light-blue;
  @include rounded-corners-top;
}


.collection-thumbnail img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    background: $temple-cherry;
  }

.collection-item-attributes {
	width:120px;
  margin-left: auto;
  margin-right: auto;
}

#digital_collection-show .collection-alias, .collection-thumbnail, .collection-path {
  display: none;
}

#digital_collection-show .collection-image {
  display: block;
  padding: 10px 0px 20px;
  text-align: center;
}

#digital_collection-show .collection-text {
  padding: 20px;
}

#digital_collection-show .admin {
  display: none;
}

.digcoll-text{
	display: none;
	z-index: 10;
	position: relative;
	top: 10px;
	color: $text-white;
	font-weight: bold;
	text-align: left;
	width: 100px;
	height:0px;
	padding-left: 5px;
	pointer-events: none;
}

.digcoll-overlay{
  position: relative;
}

.digcoll-cherry:after{
	background:$temple-lavendar-grey;
}

.digcoll-overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  pointer-events: none;
}

.digcoll-overlay:hover:after, .digcoll-overlay:focus:after{
  opacity: .8;
}

.digcoll-overlay:hover .digcoll-text, .digcoll-overlay:focus .digcoll-text{
	display: block;
}

#digital_collection-show .collection-browse-link{
  font-size: 16px;
  font-weight: bold;
}

/******
*
* List formatting for accessibility
*
******/

.digital_collection-list ul li{
  list-style: none;
}

/******
*
* Formatting for restricted collections
*
******/

.collection-restriction-note {
  font-style: italic;
}
