@import "base/globals.scss";
@import "base/colors.scss";

/******
*
* Notices and Error Reporting
*
******/

#notice {
  color: $success;
}

.field_with_errors {
  padding: 2px;
  background-color: $error;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $error;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $error-background;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: $text-white;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/******
*
* Compound Objects
*
******/

.cpd-thumb{
  width: 918px;
  padding: 0px 15px 15px 0px;
}

.cpd-thumb .thumb-single{
  text-align:center;
}

/******
*
* PDFs
*
******/

#document-pdf {
  width:  100%;
  height: 800px;
  clear: both;
  margin-left: 0px;
  margin-right: auto;

  p {
      padding: 1em;
  }

  object {
      display: block;
      border: solid 1px $temple-black;
  }
}

/******
*
* Audio and Video
*
******/

.video-player{
  width: 640px;
  padding-bottom: 20px
}

.audio-player{
  height: 70px;
  padding-bottom: 20px;

  iframe {
    width: 366px;
  }
}

