
a, a:visited{
 color: #000000;
 text-decoration: none;
}

a:active, a:hover{
 color: #ad5c2a; 
 text-decoration:underline;
 background-color: #FFFFFF;
}


#sidebar-right{
 float: right;
 width: 200px;
}

.hidden{
  visibility:hidden;
}

.cpd-thumb{
  width: 980px;
  padding-bottom: 20px
}

.cpd-thumb .thumb-single{
  text-align:center;
}

.video-player{
  width: 640px;
  padding-bottom: 20px
}

.audio-player{
  width: 640px;
  padding-bottom: 20px
}

.audio-player iframe {
  width: 640px;
}

.sort-by-facets .a-z{
  float: right;
  margin-right: 10px;
}

/******
*
* Overriding Blacklight styles as needed
*
******/

#header-navbar .navbar-brand {
  width: 250px;
  height: 60px;
  margin-top: 10px;
  background: transparent url(/assets/logo.png) no-repeat top left;
}

.documentHeader {
  padding: 0px;
  margin:0px;
}

.btn-primary {
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(0, 108, 204);
    background-image: linear-gradient(to bottom, rgb(158,27,52), rgb(102,0,51));
    background-repeat: repeat-x;
    border-color: #420606;
}


/*****
*
* Move to Main.css 
*
*****/

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

h1{
  font-size: 18px;
}

h2{
  font-size: 16px;
}

h3{
  font-size: 14px;
}

h4{
  font-size: 12px;
}

h5{
  font-size: 10px;
}

h6{
  font-size: 8px;
}

/* Header */
#header-title h1{
  font-size: 24px;
  font-weight: normal;
}

#header-title{
  clear:both;
}

#download-link {
  text-align: right;
}

/* Digital Collection index */
#digital_collection-index .collection-thumbnail {
  display: block;
}

#digital_collection-index .collection-item {
  padding: 10px 0px;
}

#digital_collection-index .collection-name {
  padding: 10px 0px;
}

#digital_collection-index .admin {
  display: none;
}

/* Digital Collection landing page */

#digital_collection-show .collection-alias, .collection-thumbnail, .collection-path {
  display: none;
}

#digital_collection-show .collection-image {
  display: block;
  padding: 10px 0px 20px;
}

#digital_collection-show .collection-text {
  padding: 20px;
}

#digital_collection-show .admin {
  display: none;
}
