@import "base/globals.scss";
@import "base/colors.scss";
@import "base/mixins.scss";
@import "blacklight.css.scss";

/******
*
* Header
*
******/

#header-title h1{
  color: $temple-white;
  font-size: 24px;
  font-weight: normal;
}

#header-title{
  clear:both;
}

#header-title h1 a{
  color: $temple-white;
}

.navbar-inverse {
  background: transparent url(/assets/navbar.jpg) top left;
    border-color: #090909;
}

/******
*
* Sidebar
*
******/
#sidebar{
  @media (max-width: $screen-md) {
    width: 240px;
  }
  @media (max-width: $screen-sm) {
    width: $screen-xs - 40px;
  }
}

#sidebar-right{
 float: right;
 width: 200px;
}

/******
*
* Footer
*
******/

@include sticky-footer(100px);

html,body,#wrapper,#main-wrapper,#footer {
  width:100%;
}

#footer{
  background-color: $temple-footer-bottom;
  min-height: 70px;
  margin-top: 100px;
}

#footer-runner{
  background-color: $temple-footer-inner;
  border-top: 10px solid $temple-footer-gutters;
  border-bottom: 10px solid $temple-footer-gutters;
  color: $temple-white;
  padding: 10px;
}

/******
*
* Overriding Blacklight styles as needed
*
******/

#header-navbar .navbar-brand {
  width: 250px;
  height: 80px;
  margin-top: 10px;
  background: transparent url(/assets/logo.png) no-repeat top left;
}

.documentHeader {
  padding: 0px;
  margin:0px;
}

.btn-primary {
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: $temple-cherry;
    background-image: linear-gradient(to bottom, $temple-cherry, $temple-dark-cherry);
    background-repeat: repeat-x;
    border-color: $temple-dark-grey;
}

.sort-by-facets .a-z{
  float: right;
  margin-right: 10px;
}

#facets{
  margin-top: -12px;
}

//@media (max-width: $screen-md-min) {
//  #search-navbar {
//    float: left;
//    .input-group {
//      #q {
//        width: 250px;
//        font-weight: normal;
//      }
//    }
//    .secondary-input-group {
//      display: block;
//    }
//  }
//}


.container{
  @media (min-width: $screen-lg) {
    width: 1200px;
  }
  @media (max-width: $screen-lg) {
    width: $screen-md;
  }
  @media (max-width: $screen-md) {
    width: $screen-sm;
  }
  @media (max-width: $screen-sm) {
    width: $screen-xs - 100px;
  }
}

/******
*
* Primary Navigation
*
******/

.prim-nav{
  height: 100px;
  width: 280px;
  float: right;
  @media (max-width: $screen-sm) {
    float: left;
  }
}

.right-nav{
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.prim-nav ul li {
  list-style: none;
  float: left;
  width: 260px;
  text-align: left;
  padding: 2px 6px 2px 6px;
  border: 1px solid $temple-dark-cherry;
  margin-bottom: 5px;
  @include rounded-corners-top;
  @include rounded-corners-bottom;

}

.prim-nav a {
  font: bold 14px Arial;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

@media (max-width: $screen-sm) {
.prim-nav .right-nav ul {
    padding-left: 0px;
    margin: 0px;
  }
}


/******
*
* Document Content Viewer
*
******/
#document-content-viewer{
  background-color: $background-white;
  border: 1px solid $background-black;
  overflow-y: scroll;
  height: 100px;
  width: 980px;
}

h2.ocr-section-heading{
  font-size: 12px;
}



/******
*
* Featured Images Slideshow
*
******/

.featuredImages{
  @media (max-width: $screen-lg) {
    width: 600px;
  }
  @media (max-width: $screen-md) {
    width: 500px;
  }
  @media (max-width: $screen-sm) {
    width: 400px;
    margin-left: 35px;
  }
  @media (max-width: $screen-xs) {
    margin-left: 35px;
    width: 320px;
  }
}
.featured-collection-image{
  padding: 10px;
}

.featured-collection-text-container a{
  color: $text-white;
}

.featured-collection-text-container{
  z-index: 2;
  position: absolute;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
  width: 440px;
  padding: 10px;
  margin-top: 80px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid $temple-lavendar-grey;
  border-bottom: 2px solid $temple-lavendar-grey;
  border-right: 2px solid $temple-lavendar-grey;
}

.featured-collection-name, .featured-collection-descrip{
  color: $text-white;
}

.featured-collection-name{
  padding-bottom: 10px;
  line-height: 30px;
}

.featured-collection-name{
  font-weight: bold;
  font-size: 24px;
}

.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: $temple-dark-grey;
}


/******
*
* Homepage Intro Text
*
******/

.homepage-intro h1{
  font-size:20px;
  font-weight:bold;
}

/******
*
* Search bar
*
******/

#search-navbar .search-query-form input.search_q,#search-navbar .input-group-btn button#search{
  font-size: 20px;
  height:50px;
  font-weight: bold;
}

#search-navbar .container{
  text-align: center;
}

#search-navbar .container .search-query-form{
  margin-right: auto;
  margin-left: auto;
  width: auto;
}

#search-navbar {
  .secondary-input-group {
    display: inline-block;
    .btn {
      color: $temple-dark-grey;
      height: 50px;
      line-height: 36px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

#search-navbar {
  @media (min-width: $screen-lg) {
    .container .search-query-form {
      #q {
        width: 500px;
      }
    }
  }
}

.secondary-input-group {
  @media (min-width: $screen-md) {
    border-left: $temple-light-grey 1px solid;
    padding-left:40px;
    margin-left:40px;
  }
}

.navbar-form .input-group {
  margin-left: -15px;
}


/******
*
* Search results
*
******/

#documents .document{
  font-size: 14px;
  line-height: 30px;
}

.document-metadata dt{
  color: $temple-dark-grey;
}

#document dt, dl, dd{
  font-size: 14px;
}

#document .defList dd{
  padding-bottom: 20px;
  a:visited{
    color: $temple-lavendar-grey;
  }
}

/******
*
* Advance Search Form
*
******/

// Hide the first advanced start-over button

.advanced.page-header {
  .advanced-search-start-over {
    display: none;
  }
}

