@import "base/globals.scss";
@import "base/colors.scss";
@import "base/mixins.scss";
@import "blacklight.css.scss";

/******
*
* Header
*
******/

#header-title {
  clear:both;
  h1 {
    color: $temple-white;
    font-size: 24px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    margin-left: -15px;
    a {
      color: $temple-white;
    }
  }
}

.navbar-inverse {
  background-color: $temple-dark-grey;
    border-color: #090909;
}

/******
*
* Sidebar
*
******/

#sidebar {
  .well {
    float: right;

    h2#atc-title {
      font-size: 20px;
    }
    .atc-icon {
      float: left;
      width: 60px;
      height: 60px;
      padding: 1px;
      margin: 6px 12px 0 0;
      img {
        max-width:100%;
        max-width:100%;
      }
    }
  }
}

/******
*
* Footer
*
******/

@include sticky-footer(100px);

html,body,#wrapper,#main-wrapper,#footer {
  width:100%;
}

#footer{
  background-color: $temple-footer-bottom;
  min-height: 70px;
  margin-top: 100px;
}

#footer-runner{
  background-color: $temple-footer-inner;
  border-top: 10px solid $temple-footer-gutters;
  border-bottom: 10px solid $temple-footer-gutters;
  color: $temple-white;
  padding: 10px;
}

/******
*
* Overriding Blacklight styles as needed
*
******/

#header-navbar .navbar-brand {
  width: 250px;
  height: 60px;
  margin-top: 10px;
  background: transparent url(logo.png) no-repeat top left;
}

.documentHeader {
  padding: 0px;
  margin:0px;
}

.btn-primary {
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: $temple-cherry;
    background-image: linear-gradient(to bottom, $temple-cherry, $temple-dark-cherry);
    background-repeat: repeat-x;
    border-color: $temple-dark-grey;
}

.sort-by-facets .a-z{
  float: right;
  margin-right: 10px;
}

#facets{
  margin-top: -12px;
  .top-panel-heading {
  }
  .facets-toggle {
    margin-top: 25px;
    margin-right: -15px;
  }
}

/******
*
* Container Responsiveness
*
******/

.container{
  @media (min-width: $screen-lg) {
    width: 1200px;
  }
  @media (min-width: $screen-md) and (max-width: $screen-lg) {
    width: $screen-md;
  }
  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    width: $screen-sm;
  }
  @media (max-width: $screen-sm) {
    width: $screen-xs;
  }
}

/******
*
* Primary Navigation
*
******/

.prim-nav{
  height: 100px;
  width: 280px;
  float: right;
  @media (max-width: $screen-sm) {
    float: left;
  }
}

.right-nav{
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.prim-nav ul li {
  background-color: $temple-cherry;
  list-style: none;
  float: left;
  width: 260px;
  text-align: left;
  padding: 2px 6px 2px 6px;
  margin-bottom: 5px;
  @include rounded-corners-top;
  @include rounded-corners-bottom;

}

.prim-nav a {
  font: bold 14px Arial;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

@media (max-width: $screen-sm) {
.prim-nav .right-nav ul {
    padding-left: 0px;
    margin: 0px;
  }
}


/******
*
* Document Content Viewer
*
******/
#document-content-viewer{
  background-color: $background-white;
  border: 1px solid $background-black;
  overflow-y: scroll;
  height: 100px;
}

h2.ocr-section-heading{
  font-size: 12px;
}



/******
*
* Featured Images Slideshow
*
******/

.featured-collections {
  width: 840px;
  height: 320px;
  margin-top: 8px;
  background-color: #f5f5f5;
  border: solid #ddd;
  border-width: 1px;
  border-radius: 4px;

  .featuredImages {
    width: 780px;
    height: 280px;
    left: 30px;

    .slick-list {
      .featuredImages {
        img {
          height: 244px;
        }
        .featured-collection-text-container {
          width: 440px;
          padding: 10px;
          margin-top: 80px;
          height: 92px;
          .featured-collection-name {
            font-size: 24px;
            line-height: 30px;
          }
          .featured-collection-descrip {
            font-size: 13px;
            font-size: 18px;
          }
        }
      }
    }

    .slick-dots li.slick-active button:before {
       opacity: .90;
       color: $temple-dark-grey;
    }

    .featured-collection-image{
      padding: 10px;
    }

    .featured-collection-text-container a{
      color: $text-white;
    }

    .featured-collection-text-container{
      z-index: 2;
      position: absolute;
      background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
      width: 440px;
      padding: 10px;
      margin-top: 80px;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomright: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top: 2px solid $temple-lavendar-grey;
      border-bottom: 2px solid $temple-lavendar-grey;
      border-right: 2px solid $temple-lavendar-grey;
    }

    .featured-collection-name, .featured-collection-descrip{
      color: $text-white;
    }

    .featured-collection-name{
      padding-bottom: 10px;
      line-height: 30px;
    }

    .featured-collection-name{
      font-weight: bold;
      font-size: 24px;
    }

    .slick-prev:before, .slick-next:before {
        z-index: -999;
        font-family: "slick";
        font-size: 20px;
        line-height: 1;
        opacity: 0.75;
        color: $temple-dark-grey;
    }
  }
}

/******
*
* Homepage Intro Text
*
******/

.homepage-intro h1{
  font-size:20px;
  font-weight:bold;
}

/******
*
* Search bar
*
******/

#search-navbar .search-query-form input.search_q,#search-navbar .input-group-btn button#search{
  font-size: 20px;
  height:50px;
  font-weight: bold;
}

#search-navbar .container{
  text-align: center;
}

#search-navbar .container .search-query-form{
  margin-right: auto;
  margin-left: auto;
  width: auto;
}

#search-navbar {
  .secondary-input-group {
    display: inline-block;
    .btn {
      color: $temple-dark-grey;
      height: 50px;
      line-height: 36px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

#search-navbar {
  .container .search-query-form {
    #q {
      @media (min-width: $screen-lg) {
        width: 500px;
      }
    }
  }
}

.secondary-input-group {
  padding-left:40px;
  margin-left:40px;
  @media (min-width: $screen-md) {
    border-left: $temple-light-grey 1px solid;
  }
}

.navbar-form .input-group {
  margin-left: -15px;
}


/******
*
* Search results
*
******/

#documents .document{
  font-size: 14px;
  line-height: 30px;
}

.document-metadata dt{
  color: $temple-dark-grey;
}

#document dt, dl, dd, .document ul {
  font-size: 14px;
}

#document .defList dd{
  padding-bottom: 20px;
  a:visited{
    color: $temple-lavendar-grey;
  }
}

#appliedParams{
  padding-left: 24px;
}

a#startOverLink{
  display: none;
}

/******
*
* Advance Search Form
*
******/

// Hide the first advanced start-over button

.advanced.page-header {
  .advanced-search-start-over {
    display: none;
  }
}

/******
*
* Multiselect Facets
*
******/

.multiselect-facet-values {
  .facet-count {
    display: table-cell;
    vertical-align: top;
    text-align: right;
  }
}

.ajax-modal {
  .multiselect-facet-values {
    .facet-count {
      display: table-cell;
      vertical-align: top;
      text-align: right;
    }
  }
}
